header{
    background-image: $backgronud-color;
    font-size: 20px;
    nav{
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px 0;
        ul{
            list-style: none;
            display: flex;
            li{
                margin: 0 10px;
                a{
                    color: red;
                    text-decoration: none;
                }
            }
        }
    }
}