*{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(to top, darkblue, darkgreen);
    font-size: 20px;
    nav{
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px 0;
        ul{
            list-style: none;
            display: flex;
            li{
                margin: 0 10px;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}